# pycache
__pycache__

# Gurobi log file
gurobi.log

# Geckodriver log
geckodriver.log

# Notebooks (only used for prototyping)
*.ipynb

# Notebook checkpoints
.ipynb_checkpoints

#Virtual environment
.venv

